<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div style="text-align:center; margin-top:20px  ">
    <h1 style=" margin-bottom:30px  ">Employee Management</h1>
    <p class="text-justify p-5 mx-4 bg-dark text-white lead mb-8">
        Our Employee Management System (EMS) supports fundamental CRUD operations with simplicity and efficiency. HR administrators can swiftly create new employee profiles, inputting essential details. The system enables users to read and view the entire employee roster or search for specific individuals using names or IDs. Updating employee information is seamless, ensuring records remain current and accurate. Additionally, authorized users can delete records securely, preventing accidental data loss.
        This straightforward system optimizes HR tasks, providing quick access to vital employee data. Its intuitive interface ensures accuracy and saves time. Ideal for small to medium-sized businesses, our EMS streamlines employee management with essential CRUD functions, enhancing operational efficiency and data integrity.
    </p>
    <a href="/emp/home/" target="_blank"class="btn bg-primary text-white">Manage Employees</a> 
</div>
</body>
</html>